<<<<<<< HEAD
=======


>>>>>>> 584405ec891779dda5c4a226bd384b33d3847ce7
.user{
    font-size:15px;
    margin-left: 750px;
    font-weight: bold;
<<<<<<< HEAD
   
}
.logout{
    margin-left: 80px;
=======
>>>>>>> 584405ec891779dda5c4a226bd384b33d3847ce7
}