.product-card{
    max-width: 300px; 
    box-shadow: 1px 0px 10px 1px rgb(194, 194, 194);
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    position: relative;
}
.search-bar{
    width: 600px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 0.5px solid rgb(211, 211, 205);
    outline: none;
}