.form-container{
    width: fit-content;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    margin-top: 50px;
   padding: 40px;  
}
.input-box{
    height: 35px;
    width: 340px;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    border: none;
    padding: 10px;
    background-color: rgb(219, 219, 219);
   
}
